.env
**/*/.env
*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
gemfiles/*.lock
InstalledFiles
.idea/
*.iml
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
.ruby-version
spec/reports
test/tmp
test/version_tmp
tmp
.DS_Store
spec/.DS_Store
tags
TAGS
*.swp
vendor/
out
test.rb
