# Your Nylas application id and secret.
APP_ID = "REPLACE THIS"
APP_SECRET = "REPLACE THIS"
ACCESS_TOKEN = "The auth token for an account --- you can get one from the developer console"
DEST_EMAIL = "test@example.com"
